html, body, #app, #app>div {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(https://i.imgur.com/YPBnXKE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

center {
  justify-content: center !important;
}

.field.has-addons {
  justify-content: center;
}

.searchbar {
  position: relative;
  top: 300px;
}

.marvbtn {
  background-color: #d80103;
  color: white;
  border: none;
}